﻿@{
    ViewBag.Title = "Sales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugins/jquery-validate/jquery-validate.css" rel="stylesheet" />
<link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
<!--Bootstrap Validator [ OPTIONAL ]-->
<link href=@Url.Content("/Content/plugins/bootstrap-validator/bootstrapValidator.min.css") rel="stylesheet">

<!--Block Styled Form -->
<!--===================================================-->
@model KaryawanORM.LookUp.TransaksiPenjualanDetail

@using (Html.BeginForm("Create", "Sales", FormMethod.Post, new { @class = "smart-form", id = "formNewSales" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.PenjualanItemJson)
    @Html.HiddenFor(x=>x.PenjualanGrandTotal)
    <div class="panel-heading">
        <h3 class="panel-title"><b><u>Form Input Data Penjualan</u></b></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.PenjualanTanggal, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.PenjualanTanggal, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.PenjualanKaryawanID, new { @class = "control-label" })
                    @Html.DropDownListFor(x => x.PenjualanKaryawanID, (SelectList)ViewBag.Karyawans, "Pilih", new { @class = "select2 form-control" })
                </div>
            </div>
        </div>
        <div class="row">
            <fieldset>
                <legend>Barang yang dijual</legend>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.Hidden("produkID")
                            @Html.Hidden("namaProduk")
                            @Html.Label("Barang :")
                            @Html.DropDownList("ddlItemName", (SelectList)ViewBag.Produks, "Pilih", new { @class = "form-control select2" })
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.Label("Jumlah :")
                            <div>
                            <input class="positive-integer" type="text" id="txtItemQty" placeholder="Jml" />
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            @Html.Label("Harga")
                            <div>
                            <input type="text" id="txtHarga" placeholder="Harga" disabled />
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div style="margin:auto">
                            <a href="javascript:void(0);" class="btn btn-info btn-sm" id="btnAddItem"><i class="fa fa-plus"></i>Tambah Data</a>
                                </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="row">
            <section>
                <table id="dt_itemlist" class="table table-striped table-hover smart-form">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Barang</th>
                            <th>Jumlah</th>
                            <th>Harga</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </section>
            <legend></legend>
                <div class="row" style="float: right;">
                    <section class="col col-12">
                        <label>
                            Grand Total :
                        </label>
                        <label>
                            <input style="font-size:x-large; font-weight:bold; color:red" type="text" id="txtGrandTotal" disabled />
                        </label>
                    </section>
                </div>
        </div>

    </div>
    <div class="panel-footer text-right">
        <button id="btnSubmit" class="btn btn-info">Submit</button>
        <button class="btn btn-danger" type="button" id="btnClose">Close</button>
    </div>
}
<!--===================================================-->
<!--End Block Styled Form -->
<script src="~/Content/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Content/plugins/select2/select2.min.js"></script>
<!--Bootstrap Validator [ OPTIONAL ]-->
<script src=@Url.Content("/Content/plugins/bootstrap-validator/bootstrapValidator.min.js")></script>

<script src=@Url.Content("/Content/plugins/datatables/media/js/jquery.dataTables.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/media/js/dataTables.bootstrap.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")></script>

<!--Script Create area-->
<script src="~/Script/Sales/create.js"></script>

