﻿@{
    Layout = null;
}
@using KaryawanORM.LookUp

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AmbilData</title>
</head>
    <script src=@Url.Content("/Content/js/jquery-2.1.1.min.js")></script>
<body>
    <div>
        @foreach (MasterKaryawanGrid item in ViewBag.Karyawans)
        {
            <div id="@item.KaryawanKode">
                <label>@item.KaryawanKode</label>
                <br />
                <label>@item.KaryawanNama</label>
            </div>
        }
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        //var datas = "@(ViewBag.Karyawans)";
        var datas = @Html.Raw(Json.Encode(@ViewBag.Karyawans));
        $.each(datas, function (index, data) {
            if (data.KaryawanKode == "B00001")
                $("#B00001").attr("hidden", "hidden");
        });
    });
</script>
