﻿@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/plugins/jquery-validate/jquery-validate.css" rel="stylesheet" />

<!--Bootstrap Validator [ OPTIONAL ]-->
<link href=@Url.Content("/Content/plugins/bootstrap-validator/bootstrapValidator.min.css") rel="stylesheet">

<!--Block Styled Form -->
<!--===================================================-->
@model KaryawanORM.LookUp.LookUpKaryawan

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { @class = "smart-form", novalidate = "novalidate", id = "formEditKaryawan" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.KaryawanID)
    @Html.HiddenFor(x => x.KaryawanFotoFileName)
    <div class="panel-heading">
        <h3 class="panel-title"><b><u>Form Edit Data Karyawan</u></b></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.KaryawanKode, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.KaryawanKode, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.KaryawanNama, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.KaryawanNama, new { @class = "form-control", required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.KaryawanAlamat, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.KaryawanAlamat, new { @class = "form-control", required = "required" })
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.KaryawanTelp, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.KaryawanTelp, new { @class = "form-control", required = "required" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    @Html.Label("Foto saat ini")
                    <label class="input">
                        <img src="@Html.DisplayTextFor(m => m.KaryawanFotoFileName)" width="50">
                    </label>
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.KaryawanFoto, new { @class = "control-label" })
                    <label class="input">
                        <input type="file" id="KaryawanFoto" name="KaryawanFoto" />
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-right">
        <button id="btnEdit" class="btn btn-info" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" id="btnClose">Close</button>
    </div>
}
<!--===================================================-->
<!--End Block Styled Form -->


<script src="~/Content/plugins/jquery-validate/jquery.validate.min.js"></script>
<!--Bootstrap Validator [ OPTIONAL ]-->
<script src=@Url.Content("/Content/plugins/bootstrap-validator/bootstrapValidator.min.js")></script>
<script src="~/Script/Employee/editkaryawan.js"></script>
