﻿@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-heading">
    <h3 class="panel-title">Daftar Karyawan</h3>

</div>
<div class="panel-body">
    <div style="margin-bottom: 15px;">
    <button id="demo-dt-addrow-btn" class="btn btn-pink">Tambah Data</button>
        </div>
    <table id="tblEmployee" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Foto</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Telp</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


<!--DataTables [ OPTIONAL ]-->
<script src=@Url.Content("/Content/plugins/datatables/media/js/jquery.dataTables.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/media/js/dataTables.bootstrap.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")></script>
<script src="~/Script/employee.js"></script>
