﻿@{
    ViewBag.Title = "Daftar Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- MAIN PANEL -->
<div id="main" role="main">
    <div id="ribbon">
		<span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>
		<!-- breadcrumb -->
		<ol class="breadcrumb">
			<li>
				<label class="ribbonheadertitle">Daftar</label>
			</li>
			<li>
			   <label class="ribbonheadertitle">Karyawan</label>
			</li>
		</ol>
	</div>
	<!-- MAIN CONTENT -->
	<div id="content">
		<div class="row">
			<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
				<h1 class="page-title txt-color-blueDark">
					<i class="fa fa-table fa-fw "></i> 
						Karyawan 
				</h1>
			</div>
		</div>
				
		<!-- widget grid -->
		<section id="widget-grid" class="">
				
			<!-- row -->
			<div class="row">
				<!-- NEW WIDGET START -->
				<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<!-- Widget ID (each widget will need unique ID)-->
					<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-1" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-togglebutton="false" >
						<header>
                            <a id='dwnldLnk' download='download.pdf' style="display:none;" ></a>
							<span class="widget-icon"> <i class="fa fa-table"></i> </span>
							<h2>Daftar Karyawan</h2>
                            <div class="widget-toolbar">
							    <a href="~/Karyawan/Create" class="btn btn-primary">Tambah Data</a>
						    </div>
                             <div class="widget-toolbar">
							    <a href="javascript:void(0);" class="btn btn-danger" id="btnExportPdf">Export PDF</a>
						    </div>
                              <div class="widget-toolbar">
							    <a href="javascript:void(0);" class="btn btn-warning" id="btnExportXls">Export Excel</a>
						    </div>
                             <div class="widget-toolbar">
							    <a href="javascript:void(0);" class="btn btn-success" id="btnEmail">Send Mail</a>
						    </div>
						</header>
						<!-- widget div-->
						<div>
				
							<!-- widget edit box -->
							<div class="jarviswidget-editbox">
								<!-- This area used as dropdown edit box -->
							</div>
							<!-- end widget edit box -->
				
							<!-- widget content -->
							<div class="widget-body no-padding">
                                <div class="widget-body-toolbar">
                                </div>
								<table id="dt_basic" class="table table-striped table-hover smart-form">
									<thead>
										<tr>
                                            <th class="customActionWidth">Menu</th>
                                            <th></th>
                                            <th>Foto</th>
											<th>Kode</th>
                                            <th>Nama</th>
                                            <th>Alamat</th>
                                            <th>Telp</th>
										</tr>
                                        <tr class="second">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="search_kode" value="Cari Kode" class="search_init">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="search_nama" value="Cari Nama" class="search_init">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="search_alamat" value="Cari Alamat" class="search_init">
                                                </label>
                                            </td>
                                            <td>
                                                <label class="input">
                                                    <input type="text" name="search_telp" value="Cari Telp" class="search_init">
                                                </label>
                                            </td>
                                        </tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
							<!-- end widget content -->
						</div>
						<!-- end widget div -->
					</div>
					<!-- end widget -->
				</article>
				<!-- WIDGET END -->
			</div>
			<!-- end row -->
		</section>
		<!-- end widget grid -->
	</div>
	<!-- END MAIN CONTENT -->
</div>
<!-- END MAIN PANEL -->

@section scripts {
    <script src="/js/plugin/datatables/jquery.dataTables-cust.js"></script>
	<script src="/js/plugin/datatables/ColReorder.min.js"></script>
	<script src="/js/plugin/datatables/FixedColumns.min.js"></script>
	<script src="/js/plugin/datatables/ColVis.min.js"></script>
	<script src="/js/plugin/datatables/ZeroClipboard.js"></script>
	<script src="/js/plugin/datatables/media/js/TableTools.min.js"></script>
	<script src="/js/plugin/datatables/DT_bootstrap.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            pageSetUp();
            $("#dt_basic thead input").keydown(function (e) {
                if (e.keyCode == 13) {
                    oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
                    oTable.fnGetData(this);
                }
            });

            $("#dt_basic thead input").each(function (i) {
                this.initVal = this.value;
            });
            $("#dt_basic thead input").focus(function () {
                if (this.className == "search_init") {
                    this.className = "";
                    this.value = "";
                }
            });
            $("#dt_basic thead input").blur(function (i) {
                if (this.value == "") {
                    this.className = "search_init";
                    this.value = this.initVal;
                }
            });

            // Delete a record (without asking a user for confirmation)
            $('#dt_basic').on('click', 'a.editor_remove', function (e) {
                e.preventDefault();
                var data = oTable.fnGetData($(this).parents('tr')[0]);
                if (data != null) {
                    $.SmartMessageBox({
                        title: SimKKP.Constants.DELETE_TITLE,
                        content: SimKKP.Constants.DELETE_CONFIRMATION,
                        buttons: '[No][Yes]'
                    }, function (ButtonPressed) {
                        if (ButtonPressed === "Yes") {
                            $.ajax(
                            {
                                url: '/Karyawan/Delete/' + data.KaryawanID,
                                method: 'POST',
                                success: function (e) {
                                    if (e != null) {
                                        $.smallBox({
                                            title: e.Title,
                                            content: "<i class='fa fa-clock-o'></i> <i>" + e.Description + "</i>",
                                            color: "#659265",
                                            iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                            timeout: 3000
                                        });

                                        if (e.Type == 'alert-success') {
                                            oTable.fnDraw(this);
                                        }
                                    }
                                }
                            })
                        }
                    });
                    e.preventDefault();
                }
            });

            $("#btnExportXls").click(function () {
                $.smallBox({
                    title: "Export Excel",
                    content: "<i class='fa fa-clock-o'></i> <i>" + "Sedang mendownload export Excel, Mohon menunggu..." + "</i>",
                    color: "#659265",
                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                    timeout: 5000
                });
                $.ajax(
                         {
                             url: '/Karyawan/GenerateDaftarToExcel/',
                             data: "",
                             method: 'POST',
                             success: function (data) {
                                 window.open("").document.write(
                                     "<iframe width='100%' height='100%' src='data:application/vnd.ms-excel;base64," +
                                     encodeURI(data) + "'></iframe>"
                                 );
                             }
                         })
            });


            $("#btnEmail").click(function () {
                $.smallBox({
                    title: "Send Mail",
                    content: "<i class='fa fa-clock-o'></i> <i>" + "Sedang mengirim email, Mohon menunggu..." + "</i>",
                    color: "#659265",
                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                    timeout: 5000
                });
                $.ajax(
                         {
                             url: '/Karyawan/SendMail/',
                             data: "",
                             method: 'POST',
                             success: function (e) {
                                 $.smallBox({
                                     title: e.Title,
                                     content: "<i class='fa fa-clock-o'></i> <i>" + e.Description + "</i>",
                                     color: "#659265",
                                     iconSmall: "fa fa-check fa-2x fadeInRight animated",
                                     timeout: 3000
                                 });
                             }
                         })
            });

            $("#btnExportPdf").click(function () {
                $.smallBox({
                    title: "Export PDF",
                    content: "<i class='fa fa-clock-o'></i> <i>" + "Sedang mendownload export PDF, Mohon menunggu..." + "</i>",
                    color: "#659265",
                    iconSmall: "fa fa-check fa-2x fadeInRight animated",
                    timeout: 5000
                });
                $.ajax(
                         {
                             url: '/Karyawan/GenerateDaftarToPdf/',
                             data: "",
                             method: 'POST',
                             success: function (data) {
                                 var timestamp = new Date().getUTCMilliseconds();
                                 var fileName = timestamp + ".pdf";
                                 var uri = 'data:application/pdf;base64,';
                                 var dlnk = document.getElementById('dwnldLnk');
                                 window.open("").document.write(
                                     "<iframe width='100%' height='100%' src='data:application/pdf;base64, " +
                                     encodeURI(data) + "'></iframe>"
                                 );
                             }
                         })
            });

            $('#dt_basic').on('click', 'a.editor_edit', function (e) {
                e.preventDefault();
                var data = oTable.fnGetData($(this).parents('tr')[0]);
                if (data != null) {
                    window.location = 'Karyawan/Edit/' + data.KaryawanID;
                }
            });

            var oTable = $('#dt_basic').dataTable({
                "sDom": "<'dt-top-row'Tl>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
               // "sDom": "T<'clear'>lfrtip",
                "oTableTools":
                   {
                    "aButtons": [{
                        "sExtends": "collection",
                        //"sExtends": "collection",
                        "sButtonText": '',
                        //"sButtonText": 'Save <span class="caret" />',
                        //"aButtons": ["csv", "xls", "pdf"]
                        "aButtons": []
                    }],
                    //"sSwfPath": "/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
                   "sSwfPath": ""
               },
                "fnInitComplete": function (oSettings, json) {
                    $(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function () {
                        $(this).addClass('btn-sm btn-default');
                    });
                },
                "bSortCellsTop": true,
                "bServerSide": true,
                "bProcessing": true,
                "sAjaxSource": "/Karyawan/List",
                "sServerMethod": "POST",
                "aaSorting": [[1, 'desc']],
                "aoColumns": [
                    {
                        "mData": null,
                        "bSearchable ": false,
                        "bSortable": false,
                        "sClass": "center",
                        "sDefaultContent": '<center><a href="#" class="editor_edit" title="Ubah"><i class="fa fa-lg fa-pencil"></i></a> / <a href="#" class="editor_remove" title="Hapus"><i class="fa fa-lg fa-times"></i></a></center>'
                    },
                        {
                            "mData": "KaryawanID",
                            "bVisible": false
                        },
                         {
                             "mData": function (data, type, full, meta) {
                                 if (data.KaryawanFoto != null)
                                     return '<img src="' + data.KaryawanFoto + '" width=40>';
                                 else
                                     return "-";
                             }
                         },
                        { "mData": "KaryawanKode" },
                        { "mData": "KaryawanNama" },
                        { "mData": "KaryawanAlamat" },
                        { "mData": "KaryawanTelp" }
                ]
            });
        });
	</script>
    }