﻿@model IEnumerable<KaryawanORM.LookUp.MasterKaryawanGrid>

@{
    Layout = null;
    WebGrid webGrid = new WebGrid(source: Model, canSort: false, canPage: true, rowsPerPage: 5);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .Grid {
            border: 1px solid #ccc;
            border-collapse: collapse;
        }

            .Grid th {
                background-color: #F7F7F7;
                font-weight: bold;
            }

            .Grid th, .Grid td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            .Grid, .Grid table td {
                border: 0px solid #ccc;
            }

                .Grid th a, .Grid th a:visited {
                    color: #333;
                }
    </style>
</head>
<body>
    <div>
        @webGrid.GetHtml(
        htmlAttributes: new { @id = "WebGrid", @class = "Grid" },
         mode: WebGridPagerModes.All, //paging to grid   
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",
        columns: webGrid.Columns(
                 webGrid.Column("KaryawanKode", "Kode"),
                 webGrid.Column("KaryawanNama", "Nama"),
                 webGrid.Column("KaryawanAlamat", "Alamat"),
                 webGrid.Column("KaryawanTelp", "Telp")))
    </div>
</body>
</html>
