/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
.submenulayercolor {
    background-color: #CCFFFF;
}
.sub {
    color:black;
}
.sub:hover {
    background-color: #F9D7E3;
}
.active{
    background-color:#93C9EE;
}
.fa fa-lg fa-fw fa-home {
    color:black;
}
a:hover {
    background-color: #F9D7E3;
}
a li:hover {
    background-color: #F9D7E3;
}
 span.menu-item-parent {
    color: black;
}

#lblUserLogin {
    color: black;
}

a.menu-item-parent {
    background-color:#F9D7E3;
}

#header {
     background:#4C4F53;
}

#ribbon {
    background:#CCFFFF;
}

#left-panel {
   /* background:#0612f2*/
   background: #CCFFFF;
}

.ribbonheadertitle {
    color: black;
}

.customActionWidth {
    width : 100px;
}
.textAlignRight {
    text-align: right;
}
.textAlignLeft {
    text-align: left;
}

.textAlignCenter {
    text-align: center;
}

@-webkit-keyframes blink {
  0%     { opacity: 0 } 50% { opacity: 0 }
  50.01% { opacity: 1 } 100% { opacity: 1 }
}
 
.blink {
  -webkit-animation: blink 0.7s infinite linear alternate;
  -webkit-font-smoothing: antialiased;
}

/*Custom Indikator*/
.circlepink {
    margin-left: 3px;
    float: left;
    background: #FA67C2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.circledeeppurple {
    margin-left: 3px;
    float: left;
    background: #502074;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: black;
}

.circlegrey {
    margin-left:3px;
    float:left;
    background:#C3C3C3;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color: black;
}

.circleblue {
    margin-left:3px;
    float:left;
    background:#55AAFF;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color: black;
}

.circleyellow {
    margin-left:3px;
    float:left;
    background:#FFD500;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color: black;
}

.circlegreen {
    margin-left:3px;
    float:left;
    background:#038203;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color: black;
}

.circlered {
    margin-left:3px;
    float:left;
    background:#DE0A34;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align : center;
    color: black;
}


