﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Login Page | SmartAdmin - Responsive admin template.</title>
        <link rel="shortcut icon" href=@Url.Content("/Content/img/favicon.ico")>
        <!--STYLESHEET-->
        <!--=================================================-->
        <!--Roboto Slab Font [ OPTIONAL ] -->
        <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100,700" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,400" rel="stylesheet">
        <link href="~/Content/plugins/jquery-validate/jquery-validate.css" rel="stylesheet" />
        <!--Bootstrap Stylesheet [ REQUIRED ]-->
        <link href=@Url.Content("/Content/css/bootstrap.min.css") rel="stylesheet">
        <!--Jasmine Stylesheet [ REQUIRED ]-->
        <link href=@Url.Content("/Content/css/style.css") rel="stylesheet">
        <!--Font Awesome [ OPTIONAL ]-->
        <link href=@Url.Content("/Content/plugins/font-awesome/css/font-awesome.min.css") rel="stylesheet">
        <!--Switchery [ OPTIONAL ]-->
        <link href=@Url.Content("/Content/plugins/switchery/switchery.min.css") rel="stylesheet">
        <!--Bootstrap Select [ OPTIONAL ]-->
        <link href=@Url.Content("/Content/plugins/bootstrap-select/bootstrap-select.min.css") rel="stylesheet">
        
        
        <!--SCRIPT-->
        <!--=================================================-->
        <!--Page Load Progress Bar [ OPTIONAL ]-->
        <link href=@Url.Content("/Content/plugins/pace/pace.min.css") rel="stylesheet">
        <script src=@Url.Content("/Content/plugins/pace/pace.min.js")></script>
    </head>
    <!--TIPS-->
    <!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
    <body>
        <div id="container" class="cls-container">
            <!-- LOGIN FORM -->
            <!--===================================================-->
            <div class="lock-wrapper">
                <div class="panel lock-box">
                    <div class="center"> <img alt="" src=@Url.Content("/Content/img/user.png") class="img-circle"/> </div>
                    <h4> Hello User !</h4>
                    <p class="text-center">Please login to Access your Account</p>
                    <div class="row">
                        @using(Html.BeginForm("Login", "Authenticate", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class="smart-form client-form", id="loginform"}))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="text-left">
                                    <label class="text-muted">User Name</label>
                                    <input id="Username" name="Username" placeholder="Enter Username" class="form-control" required />
                                </div>
                                <div class="text-left">
                                    <label for="signupInputPassword" class="text-muted">Password</label>
                                    <input id="Password" name="Password" type="password" placeholder="Password" class="form-control lock-input" required />
                                </div>
                                <div class="pull-left pad-btm">
                                    <label class="form-checkbox form-icon form-text">
                                    <input type="checkbox"> Remember Me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-block btn-primary">
                                Sign In
                                </button>
                            </div>

                            }
                    </div>
                </div>
                <div class="registration"> Don't have an account ! <a href="#/pages/signup"> <span class="text-primary"> Sign Up </span> </a> </div>
            </div>
        </div>
        <!--===================================================-->
        <!-- END OF CONTAINER -->
        <!--JAVASCRIPT-->
        <!--=================================================-->
        <script src="~/Content/plugins/jquery-validate/jquery.validate.min.js"></script>
        <!--jQuery [ REQUIRED ]-->
        <script src=@Url.Content("/Content/js/jquery-2.1.1.min.js")></script>
        <!--BootstrapJS [ RECOMMENDED ]-->
        <script src=@Url.Content("/Content/js/bootstrap.min.js")></script>
        <!--Fast Click [ OPTIONAL ]-->
        <script src=@Url.Content("/Content/plugins/fast-click/fastclick.min.js")></script>
        <!--Switchery [ OPTIONAL ]-->
        <script src=@Url.Content("/Content/plugins/switchery/switchery.min.js")></script>
        <!--Bootstrap Select [ OPTIONAL ]-->
        <script src=@Url.Content("/Content/plugins/bootstrap-select/bootstrap-select.min.js")></script>
        <script src="~/Script/authenticate/login.js"></script>
    </body>
</html>