﻿@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Bootstrap Validator [ OPTIONAL ]-->
<link href="~/Content/plugins/jquery-validate/jquery-validate.css" rel="stylesheet" />

<!--Block Styled Form -->
<!--===================================================-->
@model KaryawanORM.LookUp.MasterUserLookUp

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "smart-form", id = "formEditUser" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x=>x.UserID)
    <div class="panel-heading">
        <h3 class="panel-title"><b><u>Form Edit Data Pengguna</u></b></h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(x => x.UserName, new { @class = "control-label" })
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control"})
                </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                     @Html.LabelFor(x => x.UserPassword, new { @class = "control-label" })
                    @Html.EditorFor(x => x.UserPassword, new { @class = "form-control" })
                </div>
            </div>
            </div>
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                     @Html.Label("Re-type password", new { @class = "control-label" })
                    @Html.Password("RetypePassword")
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer text-left">
        <button id="btnSubmit" class="btn btn-info" type="submit">Submit</button>
        <button class="btn btn-danger" type="button" id="btnClose">Close</button>
    </div>
}
<!--===================================================-->
<!--End Block Styled Form -->
<script src="~/Content/plugins/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Script/User/edit.js"></script>
