﻿<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-production.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smartadmin-skins.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/site.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/toastr.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/ladda.min.css">

    <title>Daftar Karyawan</title>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/demo.css">


    @Styles.Render("~/css/site")

    @*<link rel="shortcut icon" href="/img/favicon/favicon.ico" type="image/x-icon" />*@
    @*<link rel="icon" href="/img/favicon/favicon.ico" type="image/x-icon" />*@

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body class="@ViewBag.BodyClass">
    <!-- HEADER -->
    <header id="header">
        @*<div id="logo-group">
            <span id="logo">
                <img src="/img/logo-blacknwhite.png" alt="Daftar Karyawan">
            </span>
        </div>*@

        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            @*<div id="hide-menu" class="btn-header pull-right">
                <span><a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a></span>
            </div>*@
            <!-- end collapse menu -->

            

            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span><a href="/Authenticate/Logout" title="Sign Out"><i class="fa fa-sign-out"></i></a></span>
            </div>
            <div class="pull-right">
                <label id="livetime" style="color: white; font-size: 16px; font-family:'Comic Sans MS'; font-weight: bolder;"></label>
            </div>
            <!-- end logout button -->

            <!-- search mobile button (this is hidden till mobile view port) -->
            @*        <div id="search-mobile" class="btn-header transparent pull-right">
                <span><a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a></span>
            </div>
            <!-- end search mobile button -->

            <!-- input: search field -->
            <form action="#search.html" class="header-search pull-right">
                <input type="text" placeholder="Cari informasi" id="search-fld">
                <button type="submit">
                    <i class="fa fa-search"></i>
                </button>
                <a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
            </form>*@
            <!-- end input: search field -->
        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <span>
                <img src="/img/avatars/4.png" alt="me" class="online" />
                <a href="javascript:void(0);" id="show-shortcut">
                    <i class="fa fa-angle-down"></i></a></span>
        </div>
        <!-- end user info -->
        <nav>
            <ul>
                <li @if (ViewBag.Title == "Daftar Karyawan")
                    {<text> class="active"</text>}>
                    <a href="/" title="Daftar Karyawan"><i class="fa fa-lg fa-fw fa-user"></i><span class="menu-item-parent">Daftar Karyawan</span></a>
                </li>
                <li @if (ViewBag.Title == "Daftar Penjualan")
                    {<text> class="active"</text>}>
                    <a href="/Penjualan" title="Daftar Penjualan"><i class="fa fa-lg fa-fw fa-book"></i><span class="menu-item-parent">Daftar Penjualan</span></a>
                </li>
            </ul>
        </nav>
        <span class="minifyme"><i class="fa fa-arrow-circle-left hit"></i></span>

    </aside>
    <!-- END NAVIGATION -->

    @RenderBody()


    <div id="shortcut">
        @*<ul>
            <li>
                <a href="#inbox.html" class="jarvismetro-tile big-cubes bg-color-blue"><span class="iconbox"><i class="fa fa-envelope fa-4x"></i><span>Vaksinasi Jemaah</span> </span></a>
            </li>
            <li>
                <a href="#calendar.html" class="jarvismetro-tile big-cubes bg-color-orangeDark"><span class="iconbox"><i class="fa fa-calendar fa-4x"></i><span>Pengiriman</span> </span></a>
            </li>
            <li>
                <a href="#gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"><span class="iconbox"><i class="fa fa-map-marker fa-4x"></i><span>Relokasi Barang</span> </span></a>
            </li>
            <li>
                <a href="#gmap-xml.html" class="jarvismetro-tile big-cubes bg-color-purple"><span class="iconbox"><i class="fa fa-map-marker fa-4x"></i><span>Ganti Password</span> </span></a>
            </li>
        </ul>*@
    </div>

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="/js/plugin/pace/pace.min.js"></script>
    <script src="/js/libs/jquery-2.0.2.min.js"></script>
    <script src="/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <script src="/js/notification/SmartNotification.min.js"></script>
    <script src="/js/smartwidgets/jarvis.widget.min.js"></script>
    <script src="/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
    <script src="/js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <script src="/js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <script src="/js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <script src="/js/plugin/select2/select2.min.js"></script>
    <script src="/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <script src="/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <script src="/js/plugin/smartclick/smartclick.js"></script>
    <script src="/js/constants.js"></script>
    <script src="/js/realtime.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script src="/js/commonfunction.js"></script>
    <script src="/js/app.js"></script>
    <script src="~/js/inputnumeric/jquery.numeric.js"></script>
    <script src="~/js/dateformat/moment-2.0.0.js"></script>
    <script src="~/js/autoNumeric-1.9.11.js"></script>
    <script src="~/js/lockenterbutton.js"></script>
    <script src="~/js/ladda/spin.min.js"></script>
    <script src="~/js/ladda/ladda.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
