﻿@{
        ViewBag.Title = "Daftar Penjualan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model KaryawanORM.LookUp.TransaksiPenjualanDetail

<div id="main" role="main">
    <div id="ribbon">
        <span class="ribbon-button-alignment"><span id="refresh" class="btn btn-ribbon" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span></span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li><label class="ribbonheadertitle">Daftar</label>
            </li>
            <li><label class="ribbonheadertitle">Penjualan</label>
            </li>
            <li><label class="ribbonheadertitle">Baru</label>
            </li>
        </ol>
    </div>
    <!-- end of ribbon-->
    <div id="content">
        <!-- alert notification -->
        <div id="notificationPlace" style="display: none;"></div>
        <!-- end of notification -->
        <section id="widget-grid" class="">
            <div class="row">
                <article class="col-sm-28 col-md-28 col-lg-18">
                    <div class="jarviswidget" id="jvItemCategory" data-widget-editbutton="false" data-widget-custombutton="false">
                        <header>
                            <span class="widget-icon"><i class="fa fa-edit"></i></span>
                            <h2>Input Data Penjualan</h2>
                        </header>

                        <!-- widget div-->
                        <div>
                            <!-- widget edit box -->
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>
                            <!-- end widget edit box -->

                            <!-- widget content -->
                            <div class="widget-body no-padding">
                                @using (Html.BeginForm("Create", "Penjualan", FormMethod.Post, new { @class = "smart-form", enctype = "multipart/form-data", id = "formPenjualan" }))
                                {
                                    @Html.AntiForgeryToken();
                                    @Html.HiddenFor(m => m.PenjualanID);
                                    @Html.HiddenFor(m => m.PenjualanItemJson);
                                    @Html.HiddenFor(m=>m.PenjualanGrandTotal);
                                    <header>
                                        Form Input Penjualan
                                    </header>
                                    <fieldset>
                                        <div class="row">
                                            <section class="col col-6">
                                                <label>
                                                    @Html.LabelFor(m=>m.PenjualanTanggal) :
                                                </label>
                                                <label class="input">
                                                    <i class="icon-append fa fa-calendar"></i>
                                                    @Html.TextBoxFor(m=>m.PenjualanTanggal)
                                                </label>
                                            </section>
                                            <section class="col col-6">
                                                <label>
                                                    @Html.LabelFor(m => m.PenjualanKaryawanID) :
                                                </label>
                                                <label class="select">
                                                    @Html.DropDownListFor(m => m.PenjualanKaryawanID, (SelectList)ViewBag.Karyawans, "Pilih", new { @class = "select2" })
                                                </label>
                                            </section>
                                        </div>
                                    </fieldset>
                                       
                                    <fieldset>
                                        <legend>Barang yang dijual</legend>
                                        <div class="row">
                                            <section class="col col-4">
                                                @Html.Label("Barang :")
                                                <label class="select">
                                                    @Html.DropDownList("ddlItemName", (SelectList)ViewBag.Produks, "Pilih", new { @class = "select2", @onchange = "ddlItemName_changed(this);" })
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                @Html.Label("Jumlah :")
                                                <label class="input">
                                                    <input class="positive-integer" type="text" id="txtItemQty" placeholder="Jml" />
                                                </label>
                                            </section>
                                            <section class="col col-2">
                                                @Html.Label("Harga")
                                                <label class="input">
                                                    <input type="text" id="txtHarga" placeholder="Harga" disabled />
                                                </label>
                                            </section>
                                            <section class="col col-1">
                                                <a href="javascript:void(0);" class="btn btn-info btn-sm" id="btnAddItem"><i class="fa fa-plus"></i>Tambah Data</a>
                                            </section>
                                        </div>
                                        </fieldset>
                                        <section>
                                            <table id="dt_itemlist" class="table table-striped table-hover smart-form">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Barang</th>
                                                        <th>Jumlah</th>
                                                        <th>Hrg Sewa</th>
                                                        <th>Total Hrg</th>
                                                        <th>Menu</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </section>
                                        <fieldset>
                                            <div class="row" style="float: right;">
                                                <section class="col col-12">
                                                    <label>
                                                        Grand Total :
                                                    </label>
                                                    <label class="input">
                                                        <input type="text" id="txtGrandTotal" disabled />
                                                    </label>
                                                </section>
                                                </div>
                                            </fieldset>
                                    <footer>
                                        <button id="btnSave" type="submit" class="btn btn-primary ladda-button" data-color="green" data-style="zoom-out">
                                            <span class="ladda-label">Save</span>
                                        </button>
                                        <button onclick="btnclose_clicked();" id="btnClose" style="float: left;" type="button" class="btn btn-primary ladda-button" data-color="red">
                                            Close
                                        </button>
                                    </footer>
                                }
                            <!-- end widget content -->
                        </div>
                        <!-- end widget div -->
                    </div>
                    <!-- end widget -->
                </article>
            </div>
        </section>
    </div>
</div>
@section scripts {
    <script src="/js/plugin/datatables/jquery.dataTables-cust.js"></script>
    <script src="/js/plugin/datatables/ColReorder.min.js"></script>
    <script src="/js/plugin/datatables/FixedColumns.min.js"></script>
    <script src="/js/plugin/datatables/ColVis.min.js"></script>
    <script src="/js/plugin/datatables/ZeroClipboard.js"></script>
    <script src="/js/plugin/datatables/media/js/TableTools.min.js"></script>
    <script src="/js/plugin/datatables/DT_bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            $('.positive-integer').numeric({ decimal: ",", negative: false }, function () { alert("Diisi dengan angka saja!!!"); this.value = ""; this.focus(); });

            pageSetUp();

            var $newPenjualan = $('#formPenjualan').validate({
                rules: {
                    PenjualanTanggal: {
                        required: true
                    },
                    PenjualanKaryawanID: {
                        required: true
                    }
                },
                messages: {
                    PenjualanTanggal: {
                        required: 'Tgl pesanan no harus diisi'
                    },
                    PenjualanKaryawanID: {
                        required: 'Nama karyawan harus diisi'
                    }
                },
                submitHandler: function (form) {
                    btn_Save(form);
                    return false;
                }
            });
        });

        $('#PenjualanTanggal').datepicker({
            dateFormat: 'dd MM yy',
            prevText: '<i class="fa fa-chevron-left"></i>',
            nextText: '<i class="fa fa-chevron-right"></i>'
        });

        $('#btnAddItem').click(function (e) {
            var itemIDSelected = $('#ddlItemName').find(':selected').val();
            var produkName = $('#ddlItemName').find(':selected').text().split("\n")[0];
            var jumlah = $('#txtItemQty').val();
            var harga = $('#txtHarga').val();
            var hargaFrmt = harga.replace("Rp.", "");
            var total = Number(jumlah) * Number(hargaFrmt);
            var totalFrmt = "Rp." + total;
            var grandTotal = $('#txtGrandTotal').val().replace("Rp.", "");
            $('#dt_itemlist').dataTable().fnAddData(
               {
                   PenjualanItemProdukID: itemIDSelected,
                   PenjualanItemProduk: produkName,
                   PenjualanItemJumlah: jumlah,
                   PenjualanItemHarga: harga,
                   PenjualanItemTotal: totalFrmt
               });
            $("#txtItemQty").val('');
            $("#txtHarga").val(0);
            $("#ddlItemName").val($("#ddlItemName option:first-child").val()).trigger("change");
            $("#ddlItemName").val('');

            //Update Grand Total
            $('#txtGrandTotal').val("Rp." + (Number(grandTotal) + Number(total)));
        });

        $('#dt_itemlist').on('click', 'a.editor_remove', function (e) {
            var oTable = $('#dt_itemlist').dataTable();
            e.preventDefault();
            var data = oTable.fnGetData($(this).parents('tr')[0]);
            if (data != null) {
                oTable.fnDeleteRow($(this).parents('tr')[0]);
                var grandTotal = $('#txtGrandTotal').val().replace("Rp.","");
                var selectedTotal = Number((data.PenjualanItemTotal).replace("Rp.",""));
                //Update Grand Total
                $('#txtGrandTotal').val("Rp."+(Number(grandTotal) - Number(selectedTotal)));
            }
        });


        var itemTable = $('#dt_itemlist').dataTable({
            "sDom": "<'dt-top-row'>r<'dt-wrapper't><'dt-row dt-bottom-row'<'rw'<'col-sm-6'i><'col-sm-6 text-right'p>>",
            "bProcessing": true,
            "aoColumns": [
                    {
                        "mData": "PenjualanItemProdukID",
                        "bVisible": false
                    },
                    { "mData": "PenjualanItemProduk" },
                    { "mData": "PenjualanItemJumlah" },
                    { "mData": "PenjualanItemHarga" },
                    { "mData": "PenjualanItemTotal" },
                    {
                        "mData": null,
                        "bSearchable ": false,
                        "bSortable": false,
                        "sClass": "center",
                        "sDefaultContent": '<a href="" class="editor_remove">Delete</a>'
                    }
            ]
        });

        function ddlItemName_changed(sender) {
            var selectedItem = $('#ddlItemName :selected').text();
            var harga = selectedItem.split("\n")[1];
            $("#txtHarga").val(harga);
        };

        function btn_Save(form) {
            var l = Ladda.create(document.getElementById('btnSave'));
            var $form = $(form);
            var oTable = $('#dt_itemlist').dataTable();
            var data = JSON.stringify(oTable.fnGetData());
            var grandTotal = $('#txtGrandTotal').val().replace("Rp.", "");
            $form.find('#PenjualanItemJson').val(data);
            $form.find('#PenjualanGrandTotal').val(Number(grandTotal));

            var formData = new FormData($form[0]);
            l.start();
            $.ajax({
                url: $form.attr("action"),
                type: "POST",
                cache: false,
                data: formData,
                contentType: false,
                processData: false,
                success: function (result) {
                    if (result != null) {
                        if (result.IdRowData != '' && result.IdRowData > 0)
                            $('#PenjualanID').val(result.IdRowData);
                        $('#notificationPlace').show();
                        l.stop();
                        showAlertMessage(notificationPlace, result.ResultMessage.Title, result.ResultMessage.Description, result.ResultMessage.Type);
                        window.scrollTo(0, 0);
                    }
                },
                error: function (err) {
                    console.log(err);
                }
            });
        };

        function btnclose_clicked() {
            window.location = "/Penjualan/";
        };
    </script>
}
