﻿@{
    ViewBag.Title = "Setting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading">
    <h3 class="panel-title">Daftar Setting</h3>

</div>
<div class="panel-body">
    <div style="margin-bottom: 15px;">
    <button id="demo-dt-addrow-btn" class="btn btn-pink">Tambah Data</button>
        </div>
    <table id="tblSetting" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Nama Setting</th>
                <th>Nilai Setting</th>
                <th>Denda</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<!--DataTables [ OPTIONAL ]-->
<script src=@Url.Content("/Content/plugins/datatables/media/js/jquery.dataTables.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/media/js/dataTables.bootstrap.js")></script>
<script src=@Url.Content("/Content/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js")></script>
<script src="~/Script/Setting/index.js"></script>
